@charset "UTF-8";
*{margin: 0;padding: 0;}
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    background-color: #f1fbff;
    font-family: 'Russo One', sans-serif;

}
.carousel-caption{
    bottom: 220px;
    z-index: 10;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.carousel-caption p{
    width: 60%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner{
    position: relative;
}
.carousel-inner::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1 ;
}

.section-padding{
    padding: 100px 0;
}

.card i{
    font-size: 50px;
}

.portfolio .card{
    box-shadow:11px 12px 40px rgba(0, 0, 0, 0.15);
}
.team .card img{
    width: 8rem;
    align-self: center;
}
.w-100{
    height: 100vh;
}

.team .card{
    box-shadow:11px 12px 40px rgba(0, 0, 0, 0.15);
}
.team .card i{
    font-size: 20px;
}

@media (max-width:991px){
    .carousel-caption{
        bottom: 10vw;
    }
}
.carousel-caption h5{
    font-size: 25px;
}